<%= form_for(@lead) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tweet_id %><br />
    <%= f.number_field :tweet_id %>
  </div>
  <div class="field">
    <%= f.label :webinar_title %><br />
    <%= f.text_field :webinar_title %>
  </div>
  <div class="field">
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :type_cd %><br />
    <%= f.text_field :type_cd %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
